
*{
  font-size: 18px;
}

/* header style*/
header{
  display:flex;
}

.logo{
  flex:1;
}
.logoImage img {
  width:100%;
}

.name{
  flex-grow:8;
  text-align: center;

}

nav {
  position: relative;
  flex:1;
}


.navButton{
  flex:1;
  text-align:right;
}

nav ul.menu{

  margin:0;
  padding: 0;
  list-style: none;
  display:none;
  position:absolute;
  right:0px;
  text-align:right;
}

nav:hover ul {
display: block;


}

/* end of header styles */

/* Main content style */


main{
  min-height:200px;

}


.profileImage img{
  width: 100%;
text-align: center;
padding-bottom:0px;
}

.profileImage{
text-align: center;
}

.aboutMe{
  background-color:#F59734;

}

/* end of main content style */

/* footer style*/

footer{
  text-align: center;


}

.socialMedia{
  padding: 0.5rem;

color:#ffffff;
}

.contact {

  padding-bottom:0.7rem;
  color:#fff;

}

.socialMedia


/* end of footer style */
